#wrapper{
    max-width: 991px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#nav-info{
    width: 20%;
}

#logo{
    width: 100px;
}

#origin{
    width: 80%;
}

ul{
    list-style: none;
    text-align: left;
    padding: 0px;
}

li{
    padding: 9px 0;
    font-size: 2rem;
}

.pic{
    position: relative;
    background-image: url(../img/discuss01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 445px;
    width: 100%;
}

.img img{
    width: 100%;
}

.title-box{
    position: absolute;
    right: 0;
    bottom: 80px;
    text-align: right;
}

#titleA, #titleB{
    font-size: 2.2rem;
    padding: 15px 0;
    line-height: 30px;
    display: inline-flex;
}

#titleA{
    background-color: white;
}

#titleB{
    background-color: black;
    color: white;
}

aside{
    color: rgb(87, 87, 87);
    padding-right: 100px;
}

aside p{
    font-size: 0.8rem;
}

aside h5{
    font-size: 1rem;
    text-transform: uppercase;
}

#nd-nav{
    display: flex;
    flex-wrap: wrap;
}

.option{
    width: 25%;
    text-align: center;
}

.option:nth-child(1), .option:nth-child(2), .option:nth-child(3){
    border-right-style: solid;
    border-width: 0.5px;
    border-color: rgb(217,239,236);
}

#archives{
    display: flex;
    flex-wrap: wrap;
}

.arti-with-pic{
    width: 25%;
    padding: 0 5px;
}